@model  IEnumerable<Final_Project.Models.FencerModel>
@{
    ViewBag.Title = "Fencers";
}


<h2>Fencers</h2>

@using (Html.BeginForm("CreateSheet", "ScoreSheet", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>FencerModel</h4>
        <hr />

        <label>Enter Fencer Names</label>

        @foreach (Final_Project.Models.FencerModel fencer in Model)
        {
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBox(fencer.ID.ToString(), fencer.Name, new { @class = "form-control" })
                    </div>
                    <label>remove</label>
                </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Add Fencer" class="btn btn-default"/>
                <input type="submit" value="Create Sheet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


