@model  IEnumerable<Final_Project.Models.FencerModel>
@{
    ViewBag.Title = "ScoreSheet";
}


<h2>ScoreSheet</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>FencerModel</h4>
        <hr />
        <label class="control-label">Current Fencers</label>
        <br />
        @foreach (Final_Project.Models.FencerModel fencer in Model)
        {
            <div>
                <span>@fencer.Name</span>
            </div>

        }
        <br />
        <input type="button" value="Add Fencer" onclick="window.location.href='@Url.Action("Create", "ScoreSheet")';" class="btn btn-default" 
               @{ if(Model.Count() == 4) { 
                    @:disabled="disabled" 
                } }/>
        <br />
        <br />
        <input type="button" value="Start Tournament" onclick="window.location.href='@Url.Action("Bout", "ScoreSheet")';" class="btn btn-default"
               @{ if (Model.Count() != 4) { 
                       @: disabled="disabled"
               } } />

    </div>
}


